<header>
    <nav>

        <div class="nav-wrapper teal accent-4">
            <div id="nav-mobile" class="favorite-button-index">
            </div>
        </div>
    </nav>

    <div class="parallax-container center valign-wrapper" style="height: 300px;">
        <div class="parallax"><img src="assets/img/main.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 white-text">
                    <h2>Purr-fect Match</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Layout -->
<div class="row flex">
    <div class="col s12 m3 l3 grey lighten-3 searchbody">
        <div class="container">
            <h4 class="center">Adopt an animal</h4>

            <div class="input-field col s12">
                <select id="types">
                    <option disabled selected>Type</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rabbit">Rabbit</option>
                    <option value="Horse">Horse</option>
                    <option value="bird">Bird</option>
                    <option value="barnyard">Barnyard</option>
                    <option value="scales-fins-other">Scales, Fins, and Other</option>
                </select>
            </div>

            <!-- Breed form group -->
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="breeds" class="autocomplete">
                        <label for="breeds">Breed</label>
                    </div>
                </div>
            </div>

            <!-- gender form group -->
            <div class="input-field col s12">
                <h6>Gender</h6>
                <p>
                    <label for="male">
                        <input class="with-gap gender" name="gender" type="radio" id="male" value="male" checked />
                        <span>Male</span>
                    </label>
                    <label for="female">
                        <input class="with-gap gender" name="gender" type="radio" id="female" value="female" />
                        <span>Female</span>
                    </label>
                </p>
            </div>

            <!-- age form group -->
            <div class="input-field col s12">
                <select id="age" multiple>
                    <option disabled selected>Age</option>
                    <option value="baby">Baby</option>
                    <option value="young">Young</option>
                    <option value="adult">Adult</option>
                    <option value="senior">Senior</option>
                </select>
            </div>

            <!-- size form group -->
            <div class="input-field col s12">
                <select id="size" multiple>
                    <option value="size" disabled selected>Size</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                    <option value="x-large">X-Large</option>
                </select>
            </div>

            <!-- coat form group-->
            <div class="input-field col s12">
                <select id="coat" multiple>
                    <option value="coat" disabled selected>Coat</option>
                    <option value="short">Short</option>
                    <option value="medium">Medium</option>
                    <option value="long">Long</option>
                    <option value="wire">Wire</option>
                    <option value="hairless">Hairless</option>
                    <option value="curly">Curly</option>
                </select>
            </div>
            <div class="input-field col s12">
                <input id="location" type="text" class="validate">
                <label class="active" for="location">Location (City, State, Postal code)</label>
            </div>

            <a class="waves-effect waves-light btn" id="search">Search</a>
        </div>
    </div>
    
    <div class="col s12 m9 l9 cardbody">

        <div class="container">
            <div class="row">
                <div id="card-section">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer grey lighten-1">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2019 Purr-fect Match
        </div>
    </div>
</footer>
