<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="nav-item">
                <i class="fab fa-gratipay fa-2x"></i>
            </div>
        </div>
    </nav>

    <div class="text-white parallax-window" data-parallax="scroll" data-image-src="assets/img/catdog.png">
        <div class="container" style="width: 960px; height: 300px">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center"> Purr-fect Match</h1>
                </div>
            </div>
        </div>
</header>

<aside style="background: rgb(204, 214, 193, 0.3)">
    <div class="container p-5">
        <div class="block-form-search">
            <h5>Search your animal</h5>
            <div class="form-group">
                <select id="types" name="types" class="form-control">
                    <option disabled selected>Type</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="rabbit">Rabbit</option>
                    <option value="small-furry">Small & Furry</option>
                    <option value="horse">Horse</option>
                    <option value="bird">Bird</option>
                    <option value="barnyard">Barnyard</option>
                    <option value="scales-fins-other">Scales, Fins & Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="breed">Breed</label>
                <input autocomplete="on" class="form-control autocomplete" type="text" id="breed">
            </div>
            <div class="checkbox">
                <div id="sexes">
                    Gender<br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="sexes" name="sexes" value="1">Male
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="sexes" name="sexes" value="2">Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <select id="species" name="size" class="form-control">
                    <option disabled selected>Size</option>
                    <option value="1">Small</option>
                    <option valut="2">Medium</option>
                    <option valut="3">Large</option>
                    <option valut="4">Xlarge</option>
                </select>
            </div>
            <div class="form-group">
                <select id="species" name="age" class="form-control">
                    <option disabled selected>Age</option>
                    <option value="1">Baby</option>
                    <option valut="2">Young</option>
                    <option valut="3">Adult</option>
                    <option valut="4">Senior</option>
                </select>
            </div>
            <div class="form-group">
                <select id="species" name="coat" class="form-control">
                    <option disabled selected>Coat</option>
                    <option value="1">Short</option>
                    <option valut="2">Medium</option>
                    <option valut="3">Long</option>
                    <option valut="4">Wire</option>
                    <option valut="5">hairless</option>
                    <option valut="6">Curly</option>
                </select>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter your location">
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</aside>

<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>

<footer class="text-light bg-dark d-flex align-items-center justify-content-center" style="height: 50px">
    &#9400 2019 Purr-fect Match
    </div>
</footer>