{{!-- Style this page with a log in to google badge. Maybe include several other forms of log in --}}
<div class="container">
  <div class="row center-align">
    <div class="col s12">
      Log In:
    </div>
  </div>

  <div class="row center-align">
    <div class="col s12">

    </div>
    <a
      href="https://dev-951880.okta.com/oauth2/v1/authorize?idp=0oaw0jvevnYiVK0K5356&client_id=0oaw0s1jmw5VVEgYc356&response_type=code&response_mode=fragment&scope=openid&redirect_uri=http://localhost:8000/main&state=WM6D&nonce=YsG76jo	">
      <img src="/assets/img/g-login-btns/btn_google_signin_light_normal_web@2x.png" alt="Login via Google">
    </a>
  </div>
</div>