<header>
    <nav>
        <div class="nav-wrapper teal accent-4">
            <div id="nav-mobile" class="favorite-button-index right">
            </div>
        </div>
    </nav>

    <div class="parallax-container valign-wrapper" style="height: 300px;">
        <div class="parallax"><img
                src="assets/img/main.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 white-text">
                    <h2 class="center bold-text"><i class="material-icons">pets</i>Pet Profile</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="body-content">
    <div class="row">
        <div id="petProfile" class="col s12"></div>
    </div>

    {{!-- pet details container --}}
    <div class="details-container">
        <div class="row">
            <div class="section">
                <div class="col s12 m5">
                    <div class="card-panel grey lighten-5 hoverable">
                        <h4 class="teal-text center"><i class="material-icons">format_list_numbered</i> Pet Details</h4>
                        <br>
                        <span class="grey-text"></span>
                        <div class="card">
                            <div id="card-section">
                                <div class="card-image">
                                    <div id="pet-img"></div>

                                </div>
                                <div class="card-content">
                                    <div class="divider"></div>
                                    {{!-- <p></p> --}}
                                    <div class="section">

                                        <h5 class="pet-name" id="pet-name">
                                        </h5>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">

                                        <h5 class="pet-age" id="pet-age">
                                        </h5>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <h5 class="pet-breed" id="pet-breed">
                                        </h5>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">

                                        <h5 class="pet-coat" id="pet-coat">
                                        </h5>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">

                                        <h5 class="pet-size" id="pet-size"></h5>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">

                                        <h5 class="pet-description">
                                            <div id="pet-description"></div>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                {{!-- end details container --}}

                {{!-- begin location container --}}
                <div class="location-container">
                    <div class="col s12 m7">
                        <div class="card-panel grey lighten-5 hoverable">
                            <!-- <span class="white-text"> -->
                            <h4 class="teal-text center"><i class="material-icons">home</i> Organization Info</h4>

                            <br>
                            <!-- </span> -->
                            <div class="card">
                                <div class="card-content center">
                                    <div class="row">
                                        <div class="org-info" id="org-info"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col s12 m7 z-depth-0" id="map"> -->
                            <div class="z-depth-0" id="map"></div>
                            <!-- <div id="map"></div> -->
                            <div class="divider"></div>
                            <div class="section">
                                <div class="row">
                                    <div class="col s12">
                                        <span class="grey-text"></span>
                                        <div class="card grey lighten-5 maps">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{!-- end location container --}}

{{!-- footer --}}
<footer class="page-footer grey lighten-1">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2019 Purr-fect Match
        </div>
    </div>
</footer>


<script src="../assets/js/profile.js" type="text/javascript"></script>