<div class="container">
    <div class="section">
        <div id="userPref" class="col m12 l7">
            <div class="card-panel grey lighten-5 hoverable">
                <h4 class="center light-blue-text"><i class="material-icons">find_in_page</i> Choose Your Pet Preferences</h4>
                <div class="row">
                    <form class="col s12">
                        {{!-- pet type form group --}}
                        <div class="row">
                            <div class="input-field col s12">
                                <div id="type">
                                    <h5>Pet Type</h5>
                                    <hr>
                                    <p>
                                        <label for="dog">
                                            <input class="with-gap" name="type" type="radio" id="dog" value="dog"
                                                checked />
                                            <span>Dog</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="cat">
                                            <input class="with-gap" name="type" type="radio" id="cat" value="cat" />
                                            <span>Cat</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="rabbit">
                                            <input class="with-gap" name="type" type="radio" id="rabbit" value="rabbit" />
                                            <span>Rabbit</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="small-furry">
                                            <input class="with-gap" name="type" type="radio" id="small-furry" value="small-furry" />
                                            <span>Samll and Furry</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="horse">
                                            <input class="with-gap" name="type" type="radio" id="horse" value="horse" />
                                            <span>Horse</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="bird">
                                            <input class="with-gap" name="type" type="radio" id="bird" value="bird" />
                                            <span>Bird</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="barnyard">
                                            <input class="with-gap" name="type" type="radio" id="barnyard" value="barnyard" />
                                            <span>Barnyard</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="scales-fins-other">
                                            <input class="with-gap" name="type" type="radio" id="scales-fins-other" value="scales-fins-other" />
                                            <span>Scales, Fins, and Other</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {{!-- gender form group --}}
                        <div class="row">
                            <div class="input-field col s12">
                                <div id="gender">
                                    <h5>Gender</h5>
                                    <hr>
                                    <p>
                                        <label for="male">
                                            <input class="with-gap" name="gender" type="radio" id="male" value="male"
                                                checked />
                                            <span>Male</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="female">
                                            <input class="with-gap" name="gender" type="radio" id="female"
                                                value="female" />
                                            <span>Female</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {{!-- Breed form group --}}
                        <div class="row">
                        <div class="col s12">
                        <div id="breed">
                            <h5>Breed</h5>
                            <div class="row">
                                <div class="input-field col s12">
                                <i class="material-icons prefix">textsms</i>
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Autocomplete</label>
                                </div>
                            </div>
                            </div>
                        </div>

                        {{!-- age form group --}}
                        <div class="row">
                            <div class="input-field col s12">
                                <div id="age">
                                    <h5>Age</h5>
                                    <hr>
                                    <p>
                                        <label for="baby">
                                            <input class="with-gap" name="age" type="radio" id="baby" checked />
                                            <span>Baby</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="young">
                                            <input class="with-gap" name="age" type="radio" id="young" />
                                            <span>Young</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="adult">
                                            <input class="with-gap" name="age" type="radio" id="adult" />
                                            <span>Adult</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="senior">
                                            <input class="with-gap" name="age" type="radio" id="senior" />
                                            <span>Senior</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {{!-- size form group --}}
                        <div class="row">
                            <div id="size">
                                <h5>Size</h5>
                            <div class="input-field col s12">
                                    <hr>
                                    <p>
                                        <label for="small">
                                            <input class="with-gap" name="size" type="radio" id="small" checked />
                                            <span>Small</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="medium">
                                            <input class="with-gap" name="size" type="radio" id="medium" />
                                            <span>Medium</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="large">
                                            <input class="with-gap" name="size" type="radio" id="large" />
                                            <span>Large</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="x-large">
                                            <input class="with-gap" name="size" type="radio" id="x-large" />
                                            <span>X-Large</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>


                        {{!-- coat form group --}}
                        <div class="row">
                            <div id="coat">
                                <h5>Coat</h5>
                            <div class="input-field col s12">
                                    <hr>
                                    <p>
                                        <label for="short">
                                            <input class="with-gap" name="coat" type="radio" id="short" checked />
                                            <span>Short</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="medium">
                                            <input class="with-gap" name="coat" type="radio" id="medium" />
                                            <span>Medium</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="long">
                                            <input class="with-gap" name="coat" type="radio" id="long" />
                                            <span>Long</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="wire">
                                            <input class="with-gap" name="coat" type="radio" id="wire" />
                                            <span>Wire</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="hairless">
                                            <input class="with-gap" name="coat" type="radio" id="hairless" />
                                            <span>Hairless</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="curly">
                                            <input class="with-gap" name="coat" type="radio" id="curly" />
                                            <span>Curly</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>

                    {{!-- tags form group --}}
                        <div class="row">
                            <div id="tags">
                                <h5>Temperament</h5>
                            <div class="input-field col s12">
                                    <hr>
                                    <p>
                                        <label for="cute">
                                            <input class="with-gap" name="tags" type="radio" id="cute" checked />
                                            <span>Cute</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="intelligent">
                                            <input class="with-gap" name="tags" type="radio" id="intelligent" />
                                            <span>Intelligent</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="large">
                                            <input class="with-gap" name="tags" type="radio" id="large" />
                                            <span>Large</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="playful">
                                            <input class="with-gap" name="tags" type="radio" id="playful" />
                                            <span>Playful</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="happy">
                                            <input class="with-gap" name="tags" type="radio" id="happy" />
                                            <span>Happy</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="affectionate">
                                            <input class="with-gap" name="tags" type="radio" id="affectionate" />
                                            <span>Affectionate</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>



                        {{!-- address location form group --}}
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="address" type="text" class="validate">
                                <label for="address">Address</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="city" type="text" class="validate">
                                <label for="city">City</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="state" type="text" class="validate">
                                <label for="state">State</label>
                            </div>
                        </div>

                        <button id="submit" class="btn-large waves-effect waves-light light-blue"><i
                                class="material-icons right">location_searching</i>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>